In [18]:
import pandas as pd
import numpy as np

from clean_name_utils import clean_human_names

In [19]:
df = pd.read_csv("data/data_officerarrest.csv", header=None, low_memory=False)

In [20]:
len(df)

6234788

In [21]:
names = df[[0,1,3]][1:].to_numpy(dtype=str)

In [22]:
names

array([['720841', '2003', 'PAUL R. KIRNER'],
       ['720841', '2003', 'RON T. REMPAS'],
       ['720841', '2003', 'PAUL R. KIRNER'],
       ...,
       ['19681237', '2018', 'PEDRO HERNANDEZ'],
       ['19681237', '2018', 'RYAN J. LEON'],
       ['19681237', '2018', 'RYAN J. LEON']], dtype='<U31')

In [23]:
sep_names = clean_human_names(names[:,2])

In [13]:
sep_names

,first_name,last_name,middle_initial,middle_initial2,suffix_name,middle_name,first_name_NS,last_name_NS
0,BRENDA,NEAL,P,O,,,BRENDA,NEAL
1,DANIEL,SANCHEZ,,,JR,,DANIEL,SANCHEZ
2,RONALD,BRANNAN,W,,,,RONALD,BRANNAN
3,TERRANCE,LINDAHL,A,,,,TERRANCE,LINDAHL
4,EDWARD,SOJKA,M,,,,EDWARD,SOJKA
...,...,...,...,...,...,...,...,...
625,STEPHEN,MC GREEVY,D,,,,STEPHEN,MCGREEVY
626,GLORIA,HANNA,J,,,,GLORIA,HANNA
627,STEVE,BARRIENTOS,,,JR,,STEVE,BARRIENTOS
628,KENNETH,CLOVENT,C,,,,KENNETH,CLOVENT
629,WALTER,BENDIK,J,,,,WALTER,BENDIK

In [14]:
np_sep_names = sep_names.to_numpy()

In [15]:
output = []

In [16]:
for i, name in enumerate(names):
    cp_number = name[0]
    arrest_year = name[1]
    full_name = name[2]
    
    sep_name = np_sep_names[i]
    first_name = sep_name[0]
    last_name = sep_name[1]
    middle_initial= sep_name[2]
    suffix_name = sep_name[4]
    
    output.append([
        cp_number,
        arrest_year,
        full_name,
        first_name,
        last_name,
        middle_initial,
        suffix_name
    ])

In [17]:
header = 'cp_number,arrest_year,full_name,first_name,last_name,middle_initial,suffix_name'
np.savetxt("data/officer_names_dedupe.csv", np.array(output), delimiter=",", fmt='%s', header=header)