In [36]:
import pandas as pd
import numpy as np

from clean_name_utils import clean_human_names

In [27]:
df = pd.read_csv("data/data_officerarrest.csv", header=None, low_memory=False)

In [43]:
names = df[[0,1,3]][1:].to_numpy(dtype=str)

In [44]:
names

array([['720841', '2003', 'PAUL R. KIRNER'],
       ['720841', '2003', 'RON T. REMPAS'],
       ['720841', '2003', 'PAUL R. KIRNER'],
       ...,
       ['19681237', '2018', 'PEDRO HERNANDEZ'],
       ['19681237', '2018', 'RYAN J. LEON'],
       ['19681237', '2018', 'RYAN J. LEON']], dtype='<U31')

In [45]:
sep_names = clean_human_names(names[:,2])

In [55]:
sep_names

,first_name,last_name,middle_initial,middle_initial2,suffix_name,middle_name,first_name_NS,last_name_NS
0,PAUL,KIRNER,R,,,,PAUL,KIRNER
1,RON,REMPAS,T,,,,RON,REMPAS
2,PAUL,KIRNER,R,,,,PAUL,KIRNER
3,RON,REMPAS,T,,,,RON,REMPAS
4,HERBERT,WALKER,C,,,,HERBERT,WALKER
...,...,...,...,...,...,...,...,...
6234782,JONATHAN,GUZMAN,B,,,,JONATHAN,GUZMAN
6234783,PEDRO,HERNANDEZ,,,,,PEDRO,HERNANDEZ
6234784,PEDRO,HERNANDEZ,,,,,PEDRO,HERNANDEZ
6234785,RYAN,LEON,J,,,,RYAN,LEON
6234786,RYAN,LEON,J,,,,RYAN,LEON

In [53]:
np_sep_names = sep_names.to_numpy()

In [59]:
output = []

In [60]:
for i, name in enumerate(names):
    cp_number = name[0]
    arrest_year = name[1]
    full_name = name[2]
    
    sep_name = np_sep_names[i]
    first_name = sep_name[0]
    last_name = sep_name[1]
    middle_initial= sep_name[2]
    suffix_name = sep_name[4]
    
    output.append([
        cp_number,
        arrest_year,
        full_name,
        first_name,
        last_name,
        middle_initial,
        suffix_name
    ])

In [64]:
header = 'cp_number,arrest_year,full_name,first_name,last_name,middle_initial,suffix_name'
np.savetxt("data/officer_names.csv", np.array(output), delimiter=",", fmt='%s', header=header)